<!-- <div *ngFor="let movie of movies">
  <div *ngIf="movie != null && branch != null">
    <div
      style="display:block; border: 1px solid black"
      (click)="process(movie.id)"
    >
      <p>{{ movie.title }}</p>
      <p>{{ movie.duration }}</p>
    </div>
  </div>
</div>
<div *ngFor="let time of timeSlots">
  <p>{{ time }}</p>
</div> -->

<div class="row">
  <div class="col-md-3" id="branch-selection">
    <div class="field-group row">
      <div class="col-md-3 field-label">
        <label for="branches">Branches</label>
      </div>
      <div class="col-md-8">
        <ng-select
          id="branches"
          [items]="branches"
          bindValue="id"
          bindLabel="name"
          [(ngModel)]="selectedBranchId"
          placeholder="Select a branch"
          (change)="onChangeSelection($event)"
        >
        </ng-select>
      </div>
    </div>

    <div style="margin-left: 28px; margin-right: 10px" *ngIf="(selectedBranchId > 0)">
      Available cinemas for <br/> <h3>{{ selectedBranchName }}</h3>

      <div *ngIf="selectedTotalBranch > 0" >
        <div *ngFor="let item of selectedTotalBranch | values; let i = index">
        <button
        type="button"
        class="btn btn-primary btn-lg btn-block text-left branch-selected"
        (click)="getCinemaNumber(i + 1)"
      >
        Cinema {{i + 1}}
      </button>
    </div>
      </div>

      <button
        type="submit"
        style="margin-top: 45px !important;"
        class="btn btn-success btn-lg btn-block"
        (click)="assignMovie()"
      >
        Assign
      </button>
    </div>
  </div>
  <div class="col-md-9" style="padding-top : 20px" *ngIf="(selectedBranchId > 0 && selectedCinema > 0)">
    <span style="margin-left: 10px" *ngIf="movie != null && branch != null">
      Currently Assigned Movie to Cinema {{ selectedCinema }}
    </span>

    <div class="row" *ngIf="this.selectedMovie != null">
      <div class="col-md-4 ">
        <img class="img-fluid movie-branch-image" [src]="this.selectedMovie.moviePosterUrl" />
      </div>
      <div class="col-md-3 ">
        <div id="movie-detail-description">
          <br />
          <h1 class="img-title">
            {{ this.selectedMovie.title }}
          </h1>
          <h2>
            Rating {{ this.selectedMovie.rating }}
            <br />
            Duration: {{ this.selectedMovie.duration }}
            <br />
            <br />
            Director: {{ this.selectedMovie.director }}
            <br />
            Casts: {{ this.selectedMovie.casts }}
          </h2>
        </div>
      </div>
      <div class="col-md-4" style="margin-top : 50px">
        <div class="time-slots">
          <br />
          Time Slots:
          <div *ngFor="let timeSlot of timeSlots">
              <div>{{ timeSlot }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!--loop movies here -->
      <div id="moviesLoop" class="col-md-3 movie-detail-branch " *ngFor="let movie of movies" style="border: 1px solid black; display: block" (click)="assignMovieToCinema(movie)">

        <img
          class="img-fluid movie-branch-image"
          [src]="movie.moviePosterUrl"
        />

        <div style="border-top : 2px solid #20a8d8; margin-top:2px">
          <span class="branch-title">{{ movie.title}}<br /></span>

          <p class="movie-detail">
            {{ movie.description }}
          </p>

          <div class="button-row" style="margin-bottom: 10px;">
            <button type="button" class="btn btn-primary schedule">
              Select
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
