<!--Nav Bar Start-->
<nav class="navbar navbar-expand-lg navbar-light navbar-bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" role="presentation"><a class="nav-link" href="#" routerLink="/">Movies</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" href="#" routerLink="branch">Branches</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Admin
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#" routerLink="branch-add">Add new branch</a>
            <a class="dropdown-item" href="#" routerLink="admin-branch-movie-assignment">Assign movie to branch</a>
            <!-- <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" routerLink="user-add">Add users</a> -->
          </div>
        </li>
      </ul>


      <div *ngIf="isLogin(); then logout else login"></div>

      <ng-template #login>
        <a class="login" href="#" routerLink="login">Login</a>
      </ng-template>
      <ng-template #logout>
        <span style ="color: white; font-size:14px; margin-right: 4px">
           Welcome {{ loggedinUser()}} |
        </span>
        <a class="login" href="#" routerLink="login">Logout</a>
      </ng-template>

          <!-- <div class="col-md-6 col-md-offset-3 loginBox">
              Welcome,  {{id}}
              <a href="javascript:void(0);" (click)="logout()">Logout</a>
          </div> -->
    </div>
  </nav>
  <!--Nav Bar End-->
