.navbar-bg-primary {
  background-color: #20a8d8 !important;
}
.nav-item > .nav-link {
  color: white !important;
}

.login {
  font-size: 14px;
  color: white;
  float: right;
  margin-right: 10px;
}
