.branch-item {
  width: 30% !important;
  flex: 0 0 30% !important;
  background-color: #FFFFFF;
  border: 2px solid #20a8d8;
  border-radius: 4px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 20px;
  margin-left: 30px;
  margin-bottom: 32px;
}

.branch-item img{
  width: 100%;
  height: 80%;
}

.branch-title {
  padding-right: 15px;
  padding-left: 15px;
}

.branch-detail {
  padding-right: 15px;
  padding-left: 15px;
  line-height: 1em;
  font-size: 12px
}
.btn {
  margin-right: 10px;
}

.button-row {
  margin-top: 40px;
  padding-right: 15px;
  padding-left: 15px;
}

#branchList:hover {
  background-color:  orange !important;
}
