<div class="col-md-12 row branches"  style= "float: left;"> <!--ng for branchess-->
  <div id="branchList" class="branch" *ngFor="let branch of branchList | async" style="display: block" (click)="redirectTo(branch.id)">

    <img class="img-fluid movie-branch" [src]="branch.branchImage"/>

    <div style="border-top : 2px solid #20a8d8; margin-top:2px" >
      <span class="branch-title">{{ branch.name}}<br/></span>

      <p class="movie-detail">{{ branch.address}}
      </p>

      <div class="button-row" style="margin-bottom: 10px;">
        <button type="button" class="btn btn-primary schedule" (click)="redirectTo(branch.id)">Check Schedules</button>
      </div>
    </div>
  </div>
</div>

