<div class="container register-form">
    <div class="form" style="margin-top: 20px">
        <div class="note">
            <p>Add new Branch</p>
        </div>

        <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="form-content">
            <div class="row" >
                <div class="col-md-6">
                    <div class="form-group">
                        <input formControlName="name" type="text" class="form-control" placeholder="Branch *"
                            value="" />
                        <div *ngIf="myForm.controls['name'].invalid && (myForm.controls['name'].dirty || myForm.controls['name'].touched)"
                            class="alert alert-danger">
                            <div *ngIf="myForm.controls['name'].errors.required">
                                Branch is required.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" >
              <div class="col-md-6">
                  <div class="form-group">
                      <input formControlName="cinemaCount" type="text" class="form-control" placeholder="Cinema count *"
                          value="" />
                      <div *ngIf="myForm.controls['cinemaCount'].invalid && (myForm.controls['cinemaCount'].dirty || myForm.controls['cinemaCount'].touched)"
                          class="alert alert-danger">
                          <div *ngIf="myForm.controls['cinemaCount'].errors.required">
                              Cinema count is required.
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row" >
            <div class="col-md-6">
                <div class="form-group">
                    <input formControlName="address" type="text" class="form-control" placeholder="Address *"
                        value="" />
                    <div *ngIf="myForm.controls['address'].invalid && (myForm.controls['address'].dirty || myForm.controls['address'].touched)"
                        class="alert alert-danger">
                        <div *ngIf="myForm.controls['address'].errors.required">
                            Address is required.
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="row" >
            <div class="col-md-6">
                <div class="form-group">
                    <input formControlName="branchImage" type="text" class="form-control" placeholder="Branch Image *"
                        value="" />
                    <div *ngIf="myForm.controls['branchImage'].invalid && (myForm.controls['branchImage'].dirty || myForm.controls['branchImage'].touched)"
                        class="alert alert-danger">
                        <div *ngIf="myForm.controls['branchImage'].errors.required">
                            Branch image is required.
                        </div>
                    </div>
                </div>
            </div>
          </div>
            <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">Submit</button>
        </form>
    </div>
  </div>

