<!--Movie Detail image and description-->
<div class="col-md-12 row" *ngIf="movie != null">
    <div class="col-md-3 " style="height: 600px">
      <img class="movie-item-detail" [src]="movie.moviePosterUrl" />
    </div>
    <div class="col-md-4 ">
      <div id="movie-detail-description">
        <h1 class="img-title">
          {{ movie.title }}
        </h1>
        <h2>
          {{ "Rating " + movie.rating }}
          <br />
          {{ "Duration: " + movie.duration }}
          <br />
        </h2>
        <p>
          <br />
          {{ movie.description }}
        </p>
        <p>
          <br />
          {{ "Director " + movie.director }}
          <br />
          {{ "Casts: " + movie.casts }}
        </p>
      </div>
    </div>
  </div>
  <!--END Movie Detail image and description-->

  <!--Sitting assignments and summary npm i jquery@1.9.1 --save-->
  <div class="row" style="margin-left: 20px">

        <!-- <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Branches</button> -->
        <div aria-labelledby="dropdownBasic1" style="width: 200px">
          <ng-select name="selectBranches" [(ngModel)]="selectedBranchId" placeholder="Select a branch" (change)="loadCinemas()">
            <ng-option *ngFor="let item of branches" [value]="item.id">{{
              item.name
            }}</ng-option>
          </ng-select>
        </div>
      <!--use ngModel to bind data-->
        <form class="form-inline" style="margin-left: 20px">
          <div class="form-group">
            <div class="input-group">
              <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dp"
                [(ngModel)]="selectedDate"
                ngbDatepicker
                #d="ngbDatepicker"
                (dateSelect)="getDateSelection($event)"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary calendar"
                  (click)="d.toggle()"
                  type="button"
                ></button>
              </div>
            </div>
          </div>
        </form>
        <!--Do we need to use ngbootstrap dropdown or just a normal dropdown?-->
        <div style="margin-left: 20px" >
        <ng-select
          [(ngModel)]="selectedTimeSlot"
          placeholder="Time slots"
          bindValue="timeSlots"
          bindLabel="timeSlots"
          (change)="markSeatsTaken()"
        >
        <ng-option
        *ngFor="let time of timeSlots"
        [value]="time.timeSlot"
        >{{ time.timeSlot }}</ng-option>
      </ng-select>
        </div>

        <!--Do we need to use ngbootstrap dropdown or just a normal dropdown?-->
        <div ngbDropdown class="d-inline-block" style="margin-left: 20px" >
          <ng-select [(ngModel)]="selectedCinemaNumber" placeholder="Cinema #"  (change)="markSeatsTaken()">
            <ng-option
              *ngFor="let c of cinemas"
              [value]="c"

              >{{ c }}</ng-option>
          </ng-select>
        </div>
  </div>

  <div class="col-md-10 row" style="margin-left: -6px; margin-bottom: 50px">
    <div class="col-md-6" style="margin-top:20px">
      <div class="row" style="margin-left: 138px;" >
        <div *ngFor="let item of seatTypeA | values; let i = index">
            <button class="seat" (click)="selectedSeat($event)" [disabled]="isTaken"  id="A{{i+1}}">A{{ i + 1 }}</button>
        </div>
      </div>
      <div class="row">
        <div *ngFor="let item of seatTypeB | values; let i = index">
            <button class="seat" (click)="selectedSeat($event)" [disabled]="isTaken" id="B{{i+1}}">B{{ i + 1 }}</button>
        </div>
      </div>
      <div class="row">
          <div *ngFor="let item of seatTypeB | values; let i = index">
              <button class="seat" (click)="selectedSeat($event)"  id="C{{i+1}}">C{{ i + 1 }}</button>
          </div>
      </div>
      <div class="row">
          <div *ngFor="let item of seatTypeB | values; let i = index">
              <button class="seat" (click)="selectedSeat($event)"  id="D{{i+1}}">D{{ i + 1 }}</button>
          </div>
      </div>

      <div class="row">
          <div *ngFor="let item of seatTypeB | values; let i = index">
              <button class="seat" (click)="selectedSeat($event)"  id="E{{i+1}}">E{{ i + 1 }}</button>
          </div>
      </div>

      <div class="col-md-4 legend" style="padding-left:10px">
        <div class="seat-legend"><span class="explanation">Available</span></div>
        <div class="seat-legend legend-selected">
          <span class="explanation">Taken</span>
        </div>
        <div class="seat-legend hover">
          <span class="explanation">Selected</span>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="ticket-summary" *ngIf="movie != null">
        <p>
          <b>Ticket Summary</b>
          <br />
          <br />
          Title : {{ movie.title }}
          <br />
          Cinema : {{ selectedCinemaNumber}}
          <br />
          Screening Date:
          {{
            (selectedDate.month | convertToMonthString) +
              " " +
              selectedDate.day +
              ", " +
              selectedDate.year
          }}
          <br />
          Screening Time: {{ selectedTimeSlot ? selectedTimeSlot : "" }}
          <br />
          <br />
          Selected Seat(s): {{ showSelectedSeats }}
          <br />
          No of seats: {{ seatsToBook.length}}
          <br />
          Ticket price: {{ movie.price }}
          <br />
          Total: {{ seatsToBook.length * movie.price }}
          <br />
          <br />
        </p>
        <button class="btn-success" (click)="redirectTo()">
          Proceed Payment
        </button>
      </div>
    </div>
  </div>
