<h1 style="text-align: center; padding: 20px">{{selectedBranchName}}</h1>

<div class="col-md-10 row" style="text-align: center; margin: 0 auto; margin-top: 30px;">

  <div id="branchLoop" class="col-md-4 movie-item" style="display:block" *ngFor="let m of movie; let i = index" (click)="redirectTo(m.id)"> <!--ngFor movies-->

    <img class="img-fluid" [src]="m.moviePosterUrl" /> <!--chage src to [src]-->

    <h4 class="movie-title">{{ m.title}}<br/></h4>

    <p class="movie-detail">{{ m.releaseDate + " | " + m.duration}}
    </p>
    <p class="movie-detail">{{ "Rated " + m.rating}} | Cinema {{ this.cinema[i]}}
    </p>
    <div class="button-row">
      <a [href]="m.viewTrailerUrl" target="_blank" class="btn btn-primary">View Trailer</a>
      <button type="button" class="btn btn-success" (click)="redirectTo(m.id)">Get Ticket</button>
    </div>

  </div>

</div>
