<div style="margin-left: 28px; margin-right: 10px">
  <p  style="margin-top: 45px !important;" class=""></p>
  <button type="button" style="margin-top: 45px !important;" (click)="redirectToAddNewBranch()" class="btn btn-success btn-lg btn-block branch-selected">Add new branch</button>
  <button type="button" style="margin-top: 45px !important;" (click)="redirectToAssignMovieToBranch()" class="btn btn-primary btn-lg btn-block">Assign movie to branch</button>
  <button type="button" style="margin-top: 45px !important;" (click)="redirectToAddNewUsers()" class="btn btn-success btn-lg btn-block">Add users</button>
</div>
