<div class="row">

    <div class="col-sm-5 payment">
      <div class="field-group row">
        <div class="col-sm-4 field-label ">
          <label for="cardholder">Cardholder Name:</label>
        </div>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="cardholder">
        </div>
      </div>
      <div class="field-group row">
        <div class="col-sm-4 field-label ">
          <label for="creditcard">Credit Card No. </label>
        </div>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="creditcard">
        </div>


      </div>
      <div class="field-group row">
        <div class="col-sm-4 field-label ">
          <label for="cvv">CVV</label>
        </div>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="cvv">
        </div>
      </div>

      <div class="field-group row">
        <div class="col-sm-4 field-label ">
          <label for="expiry">Expiry Date</label>
        </div>
        <div class="col-sm-2">
          <select class="form-control" style="width: 100px;" id="expiry">
            <option>01</option>
            <option>02</option>
            <option>03</option>
            <option>04</option>
            <option>05</option>
            <option>06</option>
            <option>07</option>
            <option>08</option>
            <option>09</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
          </select>
        </div>
        <div class="col-sm-2">
          <select class="form-control" style="width: 100px;" id="expiry_year">
            <option>20</option>
            <option>21</option>
            <option>22</option>
            <option>23</option>
            <option>24</option>
            <option>25</option>
          </select>
        </div>
      </div>

    </div>

    <div class="col-sm-5 payment" *ngIf="checkoutDetail != null">
      <br><br>
      <h4> Payment Summary </h4>
      Description: {{ checkoutDetail.movieTitle }} | {{ checkoutDetail.branchName}} |
      <br>
      <br>
      {{
        (checkoutDetail.screeningDate.month | convertToMonthString) +
          " " +
          checkoutDetail.screeningDate.day +
          ", " +
          checkoutDetail.screeningDate.year
      }} | {{ checkoutDetail.timeSlot}}
      <br>
      <br>
      Total Amount: {{ checkoutDetail.totalAmount }}
      <br>
      <br>
      <button class="btn btn-success" (click)="open('autofocus');">
          <div aria-hidden="true">Proceed</div>
       </button>
    </div>




  </div>

