<div class="container register-form">
  <div class="form">
      <div class="note">
          <p>Add new Movie</p>
      </div>

      <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="form-content">
          <div class="row" >
              <div class="col-md-6">
                  <div class="form-group">
                      <input formControlName="title" type="text" class="form-control" placeholder="Movie Title *"
                          value="" />
                      <div *ngIf="myForm.controls['title'].invalid && (myForm.controls['title'].dirty || myForm.controls['title'].touched)"
                          class="alert alert-danger">
                          <div *ngIf="myForm.controls['title'].errors.required">
                              Title is required.
                          </div>
                          <!-- <div *ngIf="myForm.controls['name'].errors.maxlength">
                              Name allows {{myForm.controls['name'].errors.maxlength.requiredLength}} characters only
                          </div> -->
                      </div>
                  </div>

              </div>
          </div>
          <div class="row" >
            <div class="col-md-6">
                <div class="form-group">
                    <input formControlName="moviePosterUrl" type="text" class="form-control" placeholder="Movie poster url *"
                        value="" />
                    <div *ngIf="myForm.controls['moviePosterUrl'].invalid && (myForm.controls['moviePosterUrl'].dirty || myForm.controls['moviePosterUrl'].touched)"
                        class="alert alert-danger">
                        <div *ngIf="myForm.controls['moviePosterUrl'].errors.required">
                            Movie Poster Url is required.
                        </div>
                    </div>
                </div>

            </div>
          </div>
          <div class="row" >
            <div class="col-md-6">
                <div class="form-group">
                    <input formControlName="duration" type="text" class="form-control" placeholder="Duration *"
                        value="" />
                    <div *ngIf="myForm.controls['duration'].invalid && (myForm.controls['duration'].dirty || myForm.controls['duration'].touched)"
                        class="alert alert-danger">
                        <div *ngIf="myForm.controls['duration'].errors.required">
                            Duration is required.
                        </div>
                    </div>
                </div>

            </div>
          </div>
          <div class="row" >
            <div class="col-md-6">
                <div class="form-group">
                    <input formControlName="rating" type="text" class="form-control" placeholder="Rating *"
                        value="" />
                    <div *ngIf="myForm.controls['rating'].invalid && (myForm.controls['rating'].dirty || myForm.controls['rating'].touched)"
                        class="alert alert-danger">
                        <div *ngIf="myForm.controls['rating'].errors.required">
                            Rating is required.
                        </div>
                    </div>
                </div>

            </div>
          </div>
          <div class="row" >
            <div class="col-md-6">
                <div class="form-group">
                    <input formControlName="releaseDate" type="text" class="form-control" placeholder="Release Date *"
                        value="" />
                    <div *ngIf="myForm.controls['releaseDate'].invalid && (myForm.controls['releaseDate'].dirty || myForm.controls['releaseDate'].touched)"
                        class="alert alert-danger">
                        <div *ngIf="myForm.controls['releaseDate'].errors.required">
                              Release Date is required.
                        </div>
                    </div>
                </div>

            </div>
          </div>
          <div class="row" >
            <div class="col-md-6">
                <div class="form-group">
                    <input formControlName="viewTrailerUrl" type="text" class="form-control" placeholder="View trailer url *"
                        value="" />
                    <div *ngIf="myForm.controls['viewTrailerUrl'].invalid && (myForm.controls['viewTrailerUrl'].dirty || myForm.controls['viewTrailerUrl'].touched)"
                        class="alert alert-danger">
                        <div *ngIf="myForm.controls['viewTrailerUrl'].errors.required">
                            View trailer url is required.
                        </div>
                    </div>
                </div>

            </div>
          </div>
          <div class="row" >
            <div class="col-md-6">
                <div class="form-group">
                    <input formControlName="director" type="text" class="form-control" placeholder="Director *"
                        value="" />
                    <div *ngIf="myForm.controls['director'].invalid && (myForm.controls['director'].dirty || myForm.controls['director'].touched)"
                        class="alert alert-danger">
                        <div *ngIf="myForm.controls['director'].errors.required">
                            Director is required.
                        </div>
                    </div>
                </div>

            </div>
          </div>
          <button type="submit" class="btnSubmit" [disabled]="myForm.invalid">Submit</button>
      </form>
  </div>
</div>
