/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

.navbar-bg-primary {
  background-color: #20a8d8 !important;
}
.nav-item > .nav-link {
  color: white !important;
}

.login {
  color: white;
  float: right;
  margin-right: 10px;
}

.search-button {
  color: #20a8d8;
  border-color: #20a8d8;
}

.search-button {
  color: #20a8d8 !important;
  border-color: #20a8d8 !important;
}
.search-button.focus {
  box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .5) !important;
}
.search {
  margin: 5px 0 10px 5px;
}

.branches {
  margin: 20px -10px 2px 20px !important;
  padding: 0 !important;
}
.movie-branch {
  width: 100%;
}

.movie-branch-image {
  width: 500px;
  height: 400px !important;
}
.branch-title {
  padding-right: 15px;
  padding-left: 15px;
  font-size: 20px;
}
.branch {
  border: 2px solid #20a8d8;
  border-radius: 4px;
  margin: 10px;
  width: 22% !important;
}

.movie-detail-branch {
  border: 2px solid #20a8d8;
  border-radius: 4px;
  margin: 10px;
}

.movie-item {
  flex: 0 0 30% !important;
  background-color: #FFFFFF;
  border: 2px solid #20a8d8;
  border-radius: 4px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 20px;
  margin-left: 30px;
  margin-bottom: 32px;
  height: 730px;
}


.movie-item img{
  width: 100%;
  height: 550px;
}

.movie-item-detail{
  width: 100%;
  height: 90%;
  border: 2px solid #20a8d8;
  margin: 10px;
}

.movie-title {
  padding-right: 15px;
  padding-left: 15px;
}

.movie-detail {
  padding-right: 15px;
  padding-left: 15px;
  line-height: 1em;
  font-size: 12px
}

.btn {
  margin-right: 10px;
}
.btn-outline-primary:hover {
  color: white !important;
}

.button-row {
  margin-top: 40px;
  padding-right: 15px;
  padding-left: 15px;
}

html, body {
  height:100vh;
  margin: 0 auto;
  padding-top: 0;
}

body {
  font-family: sans-serif !important;
  font-size: 18px !important;
  background-color: #F0F0F0 !important;
}
.form-control {
  border-color: #20a8d8 !important;
}
.btn-outline-secondary {
  border-color: #20a8d8  !important;
}
.btn-primary {
  background-color: #20a8d8 !important;
  border-color: #20a8d8 !important;
}

button.calendar, button.calendar:active {
  width: 2.75rem;
  background-image: url('assets/icons/calendar.jpg');
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;
}

h1 {
  font-size: 24px !important;
  font-weight: bold !important;
}

h2 {
  font-size: 18px !important;
}

#movie-detail-description {
  margin-top: 25px;
  text-align: left;

}

.ticket-summary {
  height: 400px;
  width: 400px;
  border: 2px solid #20a8d8;
  padding: 15px;
}

.seats-table {
  padding: 20px;
  margin: 20px;
}

.seat {
  height: 35px;
  width: 35px;
  border: 2px solid #20a8d8;
  margin: 8px;
  text-align: center;
  padding: 0 !important;
  background-color: white ;
}

.seat:hover {
  background-color: orange !important;
}

.legend {
  margin-top: 30px;
}
.seat-legend {
  height: 20px;
  width: 20px;
  border: 2px solid #20a8d8;
  margin-top: 20px;
}

.hover {
  background-color: orange !important;
}

.legend-selected{
  background-color: red !important;
}

.selected {
  background-color: red !important;
  color: white !important;
}

.chosen {
  background-color: orange !important;
  color: white !important;
}
.explanation {
  margin-left: 28px;
}

.btn-success {
  border-radius: 2px;
  border: 3px solid;
}

.btn-outline-primary {
  border-color: #20a8d8 !important;
}

.payment {
  margin: 10px 10px 10px 25px;
  border: 2px solid #20a8d8;
  height: 300px;
}

.field-label {
  line-height: 3em;
  font-weight: 500;
}

.field-group {
  margin: 15px !important;
}

#branch-selection {
  height: 150vh;
  overflow: auto;
  border-right: 2px solid #20a8d8;
}

.btn-block {
  margin-top: 25px !important;
}

.time-slots {
  font-size: 20px;
  font-weight: bold !important;
  padding-left: 20px;
  height: 400px;
  width: 100%;
  border: 2px solid #20a8d8;
}

.branch-selected {
  background-color: orange !important;
}

select.form-control {
  -webkit-transition: none;
  transition: none;
}
