
<!-- Search -->
<div class="search">
    <form class="form-inline my-2 my-sm-0 search">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
             style="line-height: 18px !important; height:auto;"
             [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}"
            (focus)="searchTitle()" >
      <button class="btn search-button my-2 my-sm-0" style="line-height: 18px !important;" type="submit" (click)="searchTitle()">Search</button>
    </form>
  </div>
  <!-- Search -->

  <div class="col-md-10 row" style="text-align: center; margin: 0 auto; margin-top: 30px;">

    <div class="col-md-4 movie-item" *ngFor="let movie of movieList | async" > <!--ngFor movies-->

      <img class="img-fluid" [src]="movie.moviePosterUrl" /> <!--chage src to [src]-->

      <h4 class="movie-title">{{ movie.title}}<br/></h4>

      <p class="movie-detail">{{ movie.releaseDate + " | " + movie.duration}}
      </p>
      <p class="movie-detail">{{ "Rated " + movie.rating}}
      </p>
      <div class="button-row">
        <a [href]="movie.viewTrailerUrl" target="_blank" class="btn btn-primary">View Trailer</a>
        <button type="button" class="btn btn-success" (click)="redirectTo(movie.id)">Get Ticket</button>
      </div>

    </div>

  </div>

